[submodule "Externals/Qt"]
	path = Externals/Qt
	url = https://github.com/dolphin-emu/ext-win-qt.git
	branch = master
	shallow = true
[submodule "Externals/abseil"]
	path = Externals/abseil
	url = https://github.com/abseil/abseil-cpp
